*.diff
*.patch
*.orig
*.rej
*.bak

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/zlib.pc
/configure.log

.DS_Store
.vs/
/lib
/build
*.suo
*.user
*.aps
*.nupkg
contrib/vstudio/vc143/x86
contrib/vstudio/vc143/x64
contrib/vstudio/vc143/arm
contrib/vstudio/vc143/arm64
contrib/nuget/bin
contrib/nuget/obj
*.included
